<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>

      


      
    </ul>
    
      

  
    <!-- Registro y Login -->


  </nav>


<router-outlet></router-outlet>